<!-- @include('../partials/components/main-nav.html') -->

<nav class="main-nav @classMode">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="index.html" class="main-nav__link">
        Home
      </a>
    </li>
    <li class="main-nav__item">
      <a href="modal.html" class="main-nav__link">
        Trade
      </a>
    </li>
    <li class="main-nav__item">
      <a href="farming.html" class="main-nav__link">
        Farming
      </a>
    </li>
    <li class="main-nav__item">
      <a href="launch.html" class="main-nav__link">
        Launchpools
      </a>
    </li>
    <li class="main-nav__item">
      <a href="referral.html" class="main-nav__link">
        Referral program
      </a>
    </li>
    <li class="main-nav__item">
      <span class="main-nav__link">
        More
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#arrow-bottom'></use>
        </svg>
      </span>

      <ul class="hidden-list none">
        <li class="hidden-list__item">
          <a href="token.html" class="hidden-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#hidden'></use>
            </svg>
            About
          </a>
        </li>
        <li class="hidden-list__item">
          <a href="team.html" class="hidden-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#hidden2'></use>
            </svg>
            Team
          </a>
        </li>
        <li class="hidden-list__item">
          <a href="#" class="hidden-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#hidden3'></use>
            </svg>
            Docs
          </a>
        </li>
        <li class="hidden-list__item">
          <a href="#" class="hidden-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#hidden4'></use>
            </svg>
            Audit
          </a>
        </li>
      </ul>

    </li>

  </ul>
</nav>
