.about-us {
  padding: 60px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    align-items: center;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 65px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    p {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: rgba(var(--cl-f),1.0);

      a {
        color: rgba(var(--cl-e),1.0);
        transition: color .4s;

        &:hover {
          color: #4388ff;
        }
      }
    }

    &-bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }


}
