.earn-section {
  padding: 35px 0 90px;


  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  &__coll {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    align-items: center;
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    text-transform: capitalize;
    color: rgba(var(--cl-a),1.0);
    padding: 0;
    width: 360px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    background-color: rgba(var(--bg-g),1.0);
  }
}
