<footer>
  <div class="container container--mode">
    <div class="footer mining-grid footer-mining">

      <div class="footer-mining__inner">
        <div class="footer__coll">
          <a href="/" class="logo">
            <img width='154' height='26' src="img/sprite/main-logo.svg" alt="logo">
          </a>
          <div class="alt-logo">
            <svg width='92' height='24'>
              <use href='img/sprite/sprite.svg#alt-logo'></use>
            </svg>
          </div>
        </div>

        <ul class="footer-social">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              Twitter
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#social-icon'></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              Facebook
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#social-icon'></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              Instagram
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#social-icon'></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              Telegram
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#social-icon'></use>
              </svg>
            </a>
          </li>
        </ul>

        <span class="footer__info">
          © 2023 Proofstaking
        </span>
      </div>
    </div>
  </div>
</footer>
