<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proof</title>

    <link rel="preload" href="fonts/CodecPro-News.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/CodecPro-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/CodecPro-ExtraBold.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/Gilroy-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gilroy-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gilroy-SemiBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gilroy-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
