<header class="fixed-block">
  <div class="container container--mode">
    <div class="header">
      <a href="/" class="logo">
        <img width='154' height='26' src="img/sprite/main-logo.svg" alt="logo">
      </a>

      <nav class="main-nav header__nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="/#home" class="main-nav__link">
              Home
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/#about" class="main-nav__link">
              About Us
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/#benefits" class="main-nav__link">
              <i class="custom-icon custom-icon--star"></i>
              Benefits
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/#program" class="main-nav__link">
              Affiliate Program
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/#calculator" class="main-nav__link">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#calculator'></use>
              </svg>
              Calculator
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/#roadmap" class="main-nav__link">
              Roadmap
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/#earn" class="main-nav__link earn-planets">
              EarnPlanets
              <i class="custom-icon custom-icon--stars"></i>
            </a>
          </li>
        </ul>
      </nav>

      <div class="alt-logo">
        <svg width='92' height='24'>
          <use href='img/sprite/sprite.svg#alt-logo'></use>
        </svg>
      </div>

      <div class="header__buttons">
        <button class="blue-btn header__wallet">
          <svg width='21' height='21'>
            <use href='img/sprite/sprite.svg#wallet'></use>
          </svg>
          Connect Wallet
        </button>
        <button class="more-btn trigger-social">
          <svg width='15' height='4'>
            <use href='img/sprite/sprite.svg#more'></use>
          </svg>
        </button>
      </div>

    </div>

    <div class="header-social">
      <span class="header-social__title">
        Social Media
      </span>

      <ul class="header-social__list">
        <li class="header-social__item">
          <a href="#" class="header-social__link">
              <svg width='24' height='21'>
                <use href='img/sprite/sprite.svg#header-social'></use>
              </svg>
              Twitter

              <span class="header-social__bg">
                <svg width='70' height='70'>
                  <use href='img/sprite/sprite.svg#header-social'></use>
                </svg>
              </span>
          </a>
        </li>
        <li class="header-social__item">
          <a href="#" class="header-social__link">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#header-social2'></use>
              </svg>
              Facebook
              <span class="header-social__bg">
                <svg width='70' height='70'>
                  <use href='img/sprite/sprite.svg#header-social2'></use>
                </svg>
              </span>
          </a>
        </li>
        <li class="header-social__item">
          <a href="#" class="header-social__link">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#header-social3'></use>
              </svg>
              Instagram
              <span class="header-social__bg">
                <svg width='70' height='70'>
                  <use href='img/sprite/sprite.svg#header-social3'></use>
                </svg>
              </span>
          </a>
        </li>
        <li class="header-social__item">
          <a href="#" class="header-social__link">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#header-social'></use>
              </svg>
              Telegram
              <span class="header-social__bg">
                <svg width='70' height='70'>
                  <use href='img/sprite/sprite.svg#header-social4'></use>
                </svg>
              </span>
          </a>
        </li>
      </ul>

      <button class="header-social__close">
        <svg width='14' height='14'>
          <use href='img/sprite/sprite.svg#close-circle'></use>
        </svg>
      </button>

    </div>

  </div>
</header>
