<header class="fixed-block">
  <div class="container container--mode">
    <div class="header">
      <a href="/" class="logo">
        <img width='154' height='26' src="img/sprite/main-logo.svg" alt="logo">
      </a>

      <nav class="main-nav header__nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              Home
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              About Us
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              <i class="custom-icon custom-icon--star"></i>
              Benefits
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              Affiliate Program
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#calculator'></use>
              </svg>
              Calculator
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              Roadmap
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link earn-planets">
              EarnPlanets
              <i class="custom-icon custom-icon--stars"></i>
            </a>
          </li>
        </ul>
      </nav>

      <div class="alt-logo">
        <svg width='92' height='24'>
          <use href='img/sprite/sprite.svg#alt-logo'></use>
        </svg>
      </div>

      <div class="header__buttons">
        <button class="blue-btn header__wallet">
          <svg width='21' height='21'>
            <use href='img/sprite/sprite.svg#wallet'></use>
          </svg>
          Connect Wallet
        </button>
        <button class="more-btn">
          <svg width='15' height='4'>
            <use href='img/sprite/sprite.svg#more'></use>
          </svg>
        </button>
      </div>

    </div>
  </div>
</header>
