<header class="fixed-block">
  <div class="container container--mode">
    <div class="header mining-grid header-mining">
      <a href="/" class="logo">
        <img width='175' height='30' src="img/sprite/main-logo.svg" alt="logo">
      </a>

      <div class="mining-grid__coll header-mining__inner">
        <div class="header-mining__buttons">
          <button class="mining-btn">
            <svg width='21' height='21'>
              <use href='img/sprite/sprite.svg#mining'></use>
            </svg>

            <span>
              Daily profit:<b>3%</b>
            </span>
          </button>

          <button class="mining-btn">
            <svg width='21' height='21'>
              <use href='img/sprite/sprite.svg#mining2'></use>
            </svg>

            <span>
              Affiliate level:<b>3</b>
            </span>
          </button>
        </div>

        <div class="header-mining__wrapper">
          <nav class="main-nav header__nav">
            <ul class="main-nav__list">
              <li class="main-nav__item">
                <a href="faq.html" class="main-nav__link">
                  FaQ
                </a>
              </li>
              <li class="main-nav__item">
                <a href="news.html" class="main-nav__link">
                  News
                </a>
              </li>
              <li class="main-nav__item">
                <a href="/#earn" class="main-nav__link earn-planets">
                  EarnPlanets
                  <i class="custom-icon custom-icon--stars"></i>
                </a>
              </li>
            </ul>
          </nav>

          <div class="header__buttons">
            <button class="blue-btn header__wallet">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#profile'></use>
              </svg>
              0xb93...3ab8b
            </button>
            <button class="more-btn trigger-social">
              <svg width='15' height='4'>
                <use href='img/sprite/sprite.svg#more'></use>
              </svg>
            </button>
          </div>
        </div>

      </div>



    </div>

    <div class="header-social">
      <span class="header-social__title">
        Social Media
      </span>

      <ul class="header-social__list">
        <li class="header-social__item">
          <a href="#" class="header-social__link">
            <svg width='24' height='21'>
              <use href='img/sprite/sprite.svg#header-social'></use>
            </svg>
            Twitter

            <span class="header-social__bg">
              <svg width='70' height='70'>
                <use href='img/sprite/sprite.svg#header-social'></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header-social__item">
          <a href="#" class="header-social__link">
            <svg width='21' height='21'>
              <use href='img/sprite/sprite.svg#header-social2'></use>
            </svg>
            Facebook
            <span class="header-social__bg">
              <svg width='70' height='70'>
                <use href='img/sprite/sprite.svg#header-social2'></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header-social__item">
          <a href="#" class="header-social__link">
            <svg width='21' height='21'>
              <use href='img/sprite/sprite.svg#header-social3'></use>
            </svg>
            Instagram
            <span class="header-social__bg">
              <svg width='70' height='70'>
                <use href='img/sprite/sprite.svg#header-social3'></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="header-social__item">
          <a href="#" class="header-social__link">
            <svg width='21' height='21'>
              <use href='img/sprite/sprite.svg#header-social'></use>
            </svg>
            Telegram
            <span class="header-social__bg">
              <svg width='70' height='70'>
                <use href='img/sprite/sprite.svg#header-social4'></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>

      <button class="header-social__close">
        <svg width='14' height='14'>
          <use href='img/sprite/sprite.svg#close-circle'></use>
        </svg>
      </button>

    </div>

  </div>
</header>
