.header-social {
  position: absolute;
  width: 420px;
  background: rgba(var(--bg-c),1.0);
  overflow: hidden;
  border-radius: 12px;
  right: 0;
  transform: translateX(50vw);
  top: var(--header-height);
  padding: 20px 20px 24px;
  display: flex;
  flex-direction: column;
  grid-gap: 14px;
  transition: transform .8s;

  &.active {
    transform: translateX(0);
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-transform: capitalize;
    color: rgba(var(--cl-a),1.0);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    background: rgba(var(--bg-n),1.0);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: rgba(var(--cl-f),1.0);
    overflow: hidden;

    &:hover {
      .header-social__bg {
        opacity: 1;
        transform: translateY(-50%);
      }
    }
  }

  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 6px;
    opacity: .04;
    transition: all 1s;
    top: 50%;
    transform: translateY(-30%);
    pointer-events: none;
  }

  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9px;
    top: 9px;
  }
}
