.main-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 10px;

  P + * {
    margin-top: 10px;
  }

  &__title {
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    text-transform: capitalize;
    color: rgba(var(--cl-a),1.0);
    position: relative;
  }

  p {
    font-family:var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(var(--cl-f),1.0);
  }

  &__btn {
    width: 220px;
    height: 48px;
  }
}
