.question-block {
  max-width: 229px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;

  svg {
    fill: transparent;
  }

  * {
    grid-column: 1/span 2;
  }

  &__icon {
    grid-column: 1;
    grid-row: 1/span 2;
  }

  &__title {
    grid-column: 2;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 125%;
    color: rgba(var(--cl-a),1.0);
  }

  &__more {
    grid-column: 2;
  }

}
