.roadmap-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  --coll-gap: 87px;
  grid-gap: var(--coll-gap) 20px;

  counter-reset: my-counter;

  &__item {
    width: 100%;
    border-radius: 24px;
    position: relative;
    z-index: 1;
    counter-increment: my-counter;

    &-wrapper {
      padding: 34px;
      width: 100%;
      border-radius: inherit;
      position: relative;
      overflow: hidden;
      background-color: rgba(var(--bg-g),1.0);
      min-height: 236px;
      background-position: 97% top;
      background-repeat: no-repeat;


      &::after {
        position: absolute;
        content: '';
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background-image: var(--roadmap-gradint);
        background-size: cover;
        filter: blur(112px);
        top: 50%;
        right: 0;
        transform: translate(60%, -50%);
      }

      &.double-gradient {
        min-height: Min(29.091vw, 320px);
        background:
        url(../img/roadmap/roadmap-bg-l.png) bottom left no-repeat,
        url(../img/roadmap/roadmap-bg-r.png) bottom right no-repeat,
        rgba(var(--bg-g),1.0);
      }
    }

    &:nth-child(2),
    &:nth-child(5) {
      .roadmap-list__image {
        right: -30px;
      }

      .roadmap-list__count {
        right: 0;
        left: initial;
        transform: translate(20%,-70%);
      }
    }



    &:nth-child(3n+3) {
      grid-column: 1/span 2;

      .roadmap-list {

        &__content {
          margin: 0 auto;
          justify-content: center;
          text-align: center;
          max-width: 685px;
          flex-grow: 1;
        }

        &__title {
          font-weight: 500;
          font-size: 34px;
          line-height: 120%;
        }

        &__item-wrapper {
          max-width: 1100px;
          width: 100%;
          margin: 0 auto;
          display: flex;
        }

        &__count {
          transform: translate(-20%,0);
          left: 0;
          z-index: -1;

          &:nth-of-type(2) {
            left: initial;
            right: 0;
            transform: translate(20%,0);
          }
        }
      }

      &:after,
      &::before {
        width: 15px;
        position: absolute;
        height: calc(var(--coll-gap) - 5px);
        content: '';
        bottom: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        background-image: var(--roadmap-btn-arrow);
      }

      &::before {
        left: calc(100% / 4);
        transform: translate(-50%, 100%);
      }

      &::after {
        right: calc(100% / 4);
        transform: translate(50%, 100%);
        left: initial;
      }

    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      &::before {
        content: none;
      }
    }

    &:nth-child(2)::before {
      transform: translate(-100%, 100%);
    }

    &::before {
      width: 15px;
      position: absolute;
      height: calc(var(--coll-gap) - 5px);
      content: '';
      bottom: 0;
      left: 50%;
      transform: translate(0%, 100%);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: bottom;
      background-image: var(--roadmap-btn-arrow);
      z-index: -1;
    }
  }

  &__count {
    position: absolute;
    top: 0;
    z-index: 20;
    transform: translate(-20%,-70%);

    &::before {
      content: "0" counter(my-counter);
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: Min(10.909vw, 120px);
      line-height: 100%;
      background: linear-gradient(180deg, #161F35 50%, rgba(22, 31, 53, 0) 72.33%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }


  }


  &__image {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1;
    display: flex;
  }

  &__content {
    max-width: 68%;
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
  }

  &__date {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: rgba(var(--cl-e),1.0);

  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: rgba(var(--cl-a),1.0);
  }

  p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    color: rgba(var(--cl-f),1.0);
  }
}
